@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf")
        format("truetype");
}

$roboto: "Roboto";
$sanf-serif: sans-serif;
$roboto-mono: "Roboto Mono", monospace;
$monospace: monospace;
