@use "../a_themes/typography" as font;

:root {
    background-color: #fff;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    width: 100vw;
    font-family: font.$roboto, font.$sanf-serif;
}

a{
    text-decoration: none;
}

ul {
	list-style: none;
}