{% extends 'carrito/base.html' %}

{% comment %} {% block title %}AssistVet - Carrito{% endblock %} {% endcomment %}

{% block main %}
<h1 class="mt-5">Modificar cantidad</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ product.Imagen }}" class="card-img-top" alt="Imagen" height='60%'>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.Producto }}</h5>
                        <p class="card-text">{{ product.Descripcion }}</p>
                        <p class="card-text">Precio: ${{ product.Precio }}</p>
                        <p class="card-text">Cantidad: <input type="number" class="form-control" id="Cantidad" name="Cantidad" value="{{ product.Cantidad }}"></p>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a href="{% url 'cart' %}" class="btn btn-primary">Volver</a>
                    </div>
                </div>
            </div>
    </div>
</form>

{% endblock %}
