{% extends 'carrito/base.html' %}

{% block title %}Modificar Producto{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1>Modificar Producto</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="Producto" class="form-label">Producto: {{ product.Producto }}</label>
                {% comment %} <input type="text" class="form-control" id="Producto" name="Producto" value="{{ product.Producto }}"> {% endcomment %}

            </div>
            <div class="mb-3">
                <label for="Descripcion" class="form-label">Descripción: {{ product.Descripcion }}</label>
                {% comment %} <textarea class="form-control" id="Descripcion" name="Descripcion">{{ product.Descripcion }}</textarea> {% endcomment %}
            </div>
            {% comment %} <div class="mb-3"> {% endcomment %}
                {% comment %} <label for="Precio" class="form-label">Precio</label> {% endcomment %}
                {% comment %} <input type="number" step="0.01" class="form-control" id="Precio" name="Precio" value="{{ product.Precio }}"> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            <div class="mb-3">
                <label for="Cantidad" class="form-label">Cantidad</label>
                <input type="number" class="form-control" id="Cantidad" name="Cantidad" value="{{ product.Cantidad }}">
            </div>
            {% comment %} <div class="mb-3">
                <label for="Imagen" class="form-label">Url imagen</label>
                <input type="text" class="form-control" id="Imagen" name="Imagen" value="{{ product.Imagen }}">
            </div> {% endcomment %}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <div class="container mt-5">
                <a href="{% url 'cart' %}" class="btn btn-primary">Volver</a>
            </div>
        </form>
    </div>
{% endblock %}
