{% extends 'base.html' %}

{% block titulo %}Veterinaria AssistVet: Contacto{% endblock titulo %}

{% block css %} {% load static %}<link rel="stylesheet" href="{% static '/core/css/contacto.css' %}" />{% endblock css %}

{% block content %}
        <main>

            <section class="contacto">
                <div>
                    <h2>Contacto</h2>
                    <img
                        src="{% static '/core/assets/images/contacto/logoasistvet-png.png' %}"
                        alt="logo asist vet"
                    />
                </div>
                <div>
                    <form id="contact-form" name="contact-form" action="{% url 'contacto' %}" method="POST" novalidate>
                        {% csrf_token %}
                        <div>
                            <label for="nombre_de_cliente"
                                >Nombre y Apellido del Cleinte:
                            </label>
                            <input
                                size="10"
                                type="text"
                                name="nombre_de_dueño"
                                placeholder="Nombre y Apellido del dueño"
                                required
                            />
                        </div>
                        <div>
                            <label for="email-cliente"
                                >Dirección de correo electrónico:
                            </label>
                            <input
                                size="10"
                                type="email"
                                name="email-cliente"
                                placeholder="Ingrese su E-Mail:"
                                required
                            />
                        </div>
                        <div>
                            <label for="telefono_cliente"
                                >Celular/Tel.: (*)</label
                            >
                            <input
                                type="tel"
                                name="telefono_cliente"
                                placeholder="Ingrese su Nº de Cel./Tel.:"
                            />
                        </div>
                        <div>
                            <label for="consulta"
                                >Consulta a su veterinario:</label
                            >
                            <textarea
                                name="comentarios"
                                placeholder="Su consulta a Asist Vet...."
                                rows="8"
                            ></textarea>
                        </div>
                        {% comment %}
                        <div id="boton_radio_contacto">
                            <label for="agendar_turno"
                                >¿Desea agendar un turno?</label
                            >
                            <div>
                                <div>
                                    <input
                                        type="radio"
                                        name="agendar_turno"
                                        value="si"
                                        checked
                                    />
                                    <span>SI</span>
                                </div>
                                <div>
                                    <input
                                        type="radio"
                                        name="agendar_turno"
                                        value="no"
                                    />
                                    <span>NO</span>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}
                        <div>
                            <button type="submit">Consultar</button>
                        </div>
                        <div>
                            <p>
                                Si desea agendar un turno, un representante de
                                Asist Vet se comunicara con Ud. a la brevedad.
                            </p>
                        </div>
                    </form>
                </div>
                <div>
                    <a href="{% url 'index' %}"
                        >Volver al Inicio
                        <img src="{% static '/core/assets/images/contacto/icons8-home.svg' %}" alt="inicio"
                    /></a>
                </div>
            </section>

            {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
        </main>
{% endblock content %}

{% block javascript %}
        <script src="{% static '/core/javascript/hamburguer_menu.js' %}"></script>
{% endblock javascript %}