{% extends 'base.html' %}

{% block titulo %}Veterinaria Asist Vet: Crear Carrito de compras{% endblock titulo %}

{% block css %} {% load static %}<link rel="stylesheet" href="{% static '/core/css/carrito_de_compras.css' %}" />
<style>
    .cerrar_sesion{
        all: unset;
        background-color: transparent;
        color: #fff;
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }

    .cerrar_sesion:hover{
        cursor: pointer;
    }
</style>
{% endblock css %}

{% block content %}
        <main>
            <section class="selector_carrito_de_compras">
                <article>
                    <h2>¡¡¡Bienvenido <span>{{ username }}</span> !!!</h2>
                    <!--img
                        src="assets/svg/convercion/icons8-shopping-cart-64 violet.png"
                        alt="carrito_de_compras"
                    /-->
                    
                    {% comment "" %}<h3>{% if user.is_authenticated %} Usuario autenticado {% else %} Usuario no autenticado {% endif %}</h3>{% endcomment %}
                    
                </article>
                <article>
                    <section>
                        <div>
                            <h2>Seleccione su/s producto/s</h2>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/bx-cart.svg' %}"
                                alt="carrito_de_compras"
                            />
                        </div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/logoasistvet-png.png' %}"
                                alt="logo Asist Vet"
                            />
                        </div>
                    </section>
                    <form action="{% url 'crear_carrito_de_compras' %}"  method="GET">
                        <!--Tipo de Producto-->
                        <section>
                            <div><label for="tipo_de_producto">Tipo de Producto:</label></div>
                            <div>
                                <select name="tipo_de_producto" id="tipo_de_producto">
                                    <option value="">Todos</option>
                                    {% for tipo in tipos_de_producto %}
                                    <option value="{{ tipo }}">{{ tipo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </section>
                        <!--Marca-->
                        <section>
                            <div><label for="marca">Marca:</label></div>
                            <div>
                                <select name="marca" id="marca">
                                    <option value="">Todas</option>
                                    {% for marca in marcas %}
                                    <option value="{{ marca }}">{{ marca }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </section>
                        <!--Unidad de compra-->
                        <section>
                            <div><label for="unidad_de_compra">Unidad de Compra:</label></div>
                            <div>
                                <select name="unidad_de_compra" id="unidad_de_compra">
                                    <option value="">Todas</option>
                                    {% for unidad_de_compra in unidades_de_compra %}
                                    <option value="{{ unidad_de_compra }}">{{ unidad_de_compra }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </section>
                        <!--Peso del Animal-->
                        <section>
                            <div><label for="peso_del_animal">Peso del animal:</label></div>
                            <div>
                                <select name="peso_del_animal" id="peso_del_animal">
                                    <option value="">Todas</option>
                                    {% for peso_del_animal in pesos_del_animal %}
                                    <option value="{{ peso_del_animal }}">{{ peso_del_animal }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </section>
                        <!--Edad-->
                        <section>
                            <div><label for="edad_del_animal">Edad del animal:</label></div>
                            <div>
                                <select name="edad_del_animal" id="edad_del_animal">
                                    <option value="">Todas</option>
                                    {% for edad_del_animal in edades_del_animal %}
                                    <option value="{{ edad_del_animal }}">{{ edad_del_animal }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </section>
                        <!--En Oferta-->
                        <section>
                            <div><label for="en_oferta">En oferta:</label></div>
                            <div>
                                <select name="en_oferta" id="en_oferta">
                                    {% for en_oferta in en_ofertas %}
                                    <option value="{{ en_oferta }}">{{ en_oferta }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </section>
                        <!--Ordenar x precio-->
                        <section>
                            <div><label for="precio_de_venta">Odenar por precio:</label></div>
                            <div>
                                <select name="precio_de_venta" id="precio_de_venta">
                                    {% for precio_de_venta in precios_de_venta %}
                                    <option value="{{ precio_de_venta }}">{{ precio_de_venta }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </section>
                    </form>
                    <!--Listado de productos-->
                    <section class="listado_de_productos">
                        <article>
                            <div>
                                <img
                                    src="{{producto.imagen_producto.url}}"
                                    alt="imagen del producto"
                                />
                            </div>
                            <div>
                                <div>
                                    <span>Marca: </span>
                                    <span>{{ producto.marca }}</span>
                                </div>
                                <div>
                                    <span>Unidad: </span>
                                    <span>{{ producto.unidad }}</span>
                                </div>
                                <div>
                                    <span>Peso: </span>
                                    <span>{{ producto.peso_del_animal }}</span>
                                </div>
                                <div>
                                    <span>Edad: </span>
                                    <span>{{ producto.edad_del_animal }}</span>
                                </div>
                                <div>
                                    <span>En oferta: </span>
                                    <span>{{ producto.en_oferta }}</span>
                                </div>
                                <div>
                                    <span>Precio: </span>
                                    <span>{{ producto.precio_de_venta }}</span>
                                </div>
                                <div class="agregar_quitar_carrito">
                                    <span
                                        ><button class="btn-restar">
                                            -
                                        </button></span
                                    >
                                    <span class="contador">2</span>
                                    <span
                                        ><button class="btn-sumar">
                                            +
                                        </button></span
                                    >
                                </div>
                            </div>
                        </article>
                        <article>
                            <div>
                                <img
                                    src="{% static '/core/assets/images/productos/productos_perros/alimentos_perros/7790187340602_01-removebg-preview.png' %}"
                                    alt="old prince"
                                />
                            </div>
                            <div>
                                <div>
                                    <span>Marca: </span>
                                    <span>Royal Canning</span>
                                </div>
                                <div>
                                    <span>Cantidad: </span>
                                    <span>1 kg</span>
                                </div>
                                <div>
                                    <span>Peso: </span>
                                    <span>Menor a 10 kg</span>
                                </div>
                                <div>
                                    <span>Edad: </span>
                                    <span>Adulto</span>
                                </div>
                                <div>
                                    <span>En oferta: </span>
                                    <span>30%</span>
                                </div>
                                <div>
                                    <span>Precio: </span>
                                    <span>$6.000,00</span>
                                </div>
                                <div class="agregar_quitar_carrito">
                                    <span
                                        ><button class="btn-restar">
                                            -
                                        </button></span
                                    >
                                    <span class="contador">0</span>
                                    <span
                                        ><button class="btn-sumar">
                                            +
                                        </button></span
                                    >
                                </div>
                            </div>
                        </article>
                    </section>
                    <section>
                        <button>
                            <h2>Agregar producto/s al</h2>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/bx-cart.svg' %}"
                                alt="carrito_de_compras"
                            />
                        </button>
                    </section>
                </article>
            </section>
            <section class="carrito_de_compras">
                <article>
                    <h2>Su compra</h2>
                    <img
                        src="{% static '/core/assets/images/carrito_de_compras/bx-cart-violet.svg' %}"
                        alt="carrito_de_compras"
                    />
                </article>
                <article>
                    <section>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-name-50.png' %}"
                                alt="usuario"
                            />
                        </div>
                        <div>
                            <span>Bienvenido</span>
                            <span>{{ username }}</span>
                        </div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/logoasistvet-png.png' %}"
                                alt="logo assit vet"
                            />
                        </div>
                    </section>
                    <section>
                        <article>
                            <div>
                                <span>Tipo de producto:</span>
                                <span>Alimento para perros</span>
                            </div>
                            <div>
                                <span>Marca:</span>
                                <span>Royal Canning</span>
                            </div>
                            <div>
                                <span>Peso del Animal:</span>
                                <span>Menor a 10 kg</span>
                            </div>
                            <div>
                                <span>Edad del Animal:</span>
                                <span>Adulto</span>
                            </div>
                            <div>
                                <span>En oferta:</span>
                                <span>20%</span>
                            </div>
                            <div>
                                <span>Precio Unitario:</span>
                                <span>$3.000,00</span>
                            </div>
                            <div>
                                <span>Cantidad:</span>
                                <span>
                                    <button class="btn-restar">-</button>
                                </span>
                                <span class="contador"> 2 </span>
                                <span> Unidad/es </span>
                                <span>
                                    <button class="btn-sumar">+</button>
                                </span>
                            </div>
                            <div>
                                <span>Precio Total:</span>
                                <span>$6.000,00</span>
                            </div>
                        </article>
                        <article>
                            <div>
                                <span>Tipo de producto:</span>
                                <span>Alimento para Gatos</span>
                            </div>
                            <div>
                                <span>Marca:</span>
                                <span>Whiskas</span>
                            </div>
                            <div>
                                <span>Peso del Animal:</span>
                                <span>Menor a 10 kg</span>
                            </div>
                            <div>
                                <span>Edad del Animal:</span>
                                <span>Adulto</span>
                            </div>
                            <div>
                                <span>En oferta:</span>
                                <span>No</span>
                            </div>
                            <div>
                                <span>Precio Unitario:</span>
                                <span>$3.500,00</span>
                            </div>
                            <div>
                                <span>Cantidad:</span>
                                <span>
                                    <button class="btn-restar">-</button>
                                </span>
                                <span class="contador"> 1 </span>
                                <span> Unidad/es </span>
                                <span>
                                    <button class="btn-sumar">+</button>
                                </span>
                            </div>
                            <div>
                                <span>Precio Total:</span>
                                <span>$3.500,00</span>
                            </div>
                        </article>
                    </section>
                    <section>
                        <span>Precio Total de la compra</span>
                        <span> $9.200,00 </span>
                    </section>
                    <section>
                        <a href="confirmacion_de_compra.html">
                            <span>Comprar</span>
                            <span>
                                <img
                                    src="{% static '/core/assets/images/carrito_de_compras/icons8-get-cash-50.png' %}"
                                    alt="comprar"
                            /></span>
                        </a>
                    </section>
                </article>
                <article>
                    <section>
                        <div>Guardar Compra</div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-save-50.png' %}"
                                alt="guardar compra"
                            />
                        </div>
                    </section>
                    <section>
                        <div>Coordinar Envío</div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-local-delivery-time-64.png' %}"
                                alt="guardar compra"
                            />
                        </div>
                    </section>
                    <section>
                        {% if user.is_authenticated %}
                            <form action="{% url 'cerrar_sesion' %}" method="post">
                                {% csrf_token %}
                                    <button class="cerrar_sesion" type="submit"><div>Terminar sesión</div>
                                        <div>
                                            <img
                                                src="{% static '/core/assets/images/carrito_de_compras/icons8-logout-64.png' %}"
                                                alt="guardar compra"
                                            />
                                        </div>
                                    </button>
                            </form>
                        {% endif %}
                    </section>
                    <section>
                        <div>Volver al Inicio</div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-home.svg' %}"
                                alt="guardar compra"
                            />
                        </div>
                    </section>
                </article>
            </section>
            {% comment "" %}
            <a href="{% url 'confirmar_compra' %}">Confirmar compra</a>{% endcomment %}
        </main>
{% endblock content %}

{% block javascript %}
        <script src="{% static '/core/javascript/hamburguer_menu.js' %}"></script>
        <script src="{% static '/core/javascript/sumar_restar.js' %}"></script>
{% endblock javascript %}

