<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria AssistVet</title>
    <!-- <link rel="stylesheet" href="normalize.css"> -->
    <link rel="stylesheet" href="estilos.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="gatos_carrusel-contenido" id="gatos_carrusel-contenido">
        <div id="gatos_carrusel-caja">
            <div class="gatos_carrusel-elemento">
                <img src="imagenes/cat_playing.jpg" alt="" class="caratula caratula-1">
            </div>
            <div class="gatos_carrusel-elemento">   
                <img src="imagenes/cat_x_2_playing.jpg" alt="" class="caratula caratula-2">
            </div>
            <div class="gatos_carrusel-elemento">   
                <img src="imagenes/cat_grey.jpg" alt="" class="caratula caratula-3">                        
            </div>
            <div class="gatos_carrusel-elemento">   
                <img src="imagenes/cat_snow.jpg" alt="" class="caratula caratula-4">                        
            </div>
            <div class="gatos_carrusel-elemento">   
                <img src="imagenes/cat_eyebicolor.jpg" alt="" class="caratula caratula-4">                        
            </div>
        </div>
    </section>
    <!-- <div class="nav__video">
        <video src="videogatoassist.mp4" autoplay="true" muted="true" loop="true"></video>
    </div> -->
    <nav class="nav__bar nav__bar_pets">
        <div class="nav__logo">
            <a href="index.html">
                <img src="imagenes/logoasistvet.jpeg" alt="Logo">
            </a>
        </div>
        <div class="nav__title">
            <a href="index.html"><span class="pet"> PETSHOP &</span> <br> <span class="asist">ASISTENCIA</span> <br> <span class="vet">VETERINARIA</span></a>
        </div>
        <div class="nav__links">
            <a href="#" id="productos">Productos</a>
            <a href="servicios.html" id="servicios">Servicios</a>
            <a href="index.html#ofertas">Ofertas</a>
            <a href="index.html#contactanos_container">Contacto</a>
            <a href="index.html#dondeestamos">Donde estamos</a>
        </div>
        <div class="nav__burger">
            <a href="javascript:void(0);" onclick="menu()">
                <img src="imagenes/bars-solid.svg" alt="menu">
            </a>
        </div>
        <div class="nav__cart">
            <a href="cart.html">
                <img src="imagenes/bx-cart.svg" alt="carrito">
            </a>
        </div>
    </nav>
    <!-- Aqui empieza los menues de pantallas pequeñas -->
    <div class= "nav__menu" id="nav__menu">
        <a href="javascript:void(0);" onclick="submenuAlimentos()">Productos</a>
        <a href="javascript:void(0);" onclick="submenuServicios()">Servicios</a>
        <a href="index.html#ofertas">Ofertas</a>
        <a href="index.html#contactanos_container">Contacto</a>
        <a href="index.html#dondeestamos">Donde estamos</a>
    </div>
    <div class= "nav__menu_submenu-alimentos" id="nav__menu_submenu-alimentos">
        <a href="perros.html">Alimento para Perros</a>
        <a href="gatos.html">Alimento para Gatos</a>
    </div>
    <div class= "nav__menu_submenu-servicios" id="nav__menu_submenu-servicios">
        <a href="servicios.html#vacunas">Vacunas</a>
        <a href="servicios.html#controlesmedicos">Controles Medicos</a>
        <a href="servicios.html#emergencias">Emergencias</a>
    </div>
    <!--  Aqui termina la parte de pantallas pequeñas -->
    <!-- Aqui comienza el submenu de productos y Servicios  -->
    <div class= "nav__prod" id="nav__prod">
        <a href="perros.html">Alimentos y accesorios para Perros</a>
        <a href="gatos.html">Alimentos y accesorios para Gatos</a>
    </div>
    <div class= "nav__serv" id="nav__serv">
        <a href="servicios.html#vacunas">Vacunas</a>
        <a href="servicios.html#controlesmedicos">Control Medico</a>
        <a href="servicios.html#controlesmedicos">Emergencias</a>
    </div>
    <!-- Aqui termina el submenu de productos y Servicios  -->
    <div>

    </div>
    <main>
       
        <h1 class="h1_food_cats">Alimento para Gatos</h1>
        <section class="gallery_containerGrid">
            <img src="imagenes/148066-removebg-preview.png" alt="Especial Old Prince Adultos" class="gallery img-1">
            <img src="imagenes/Agility_Cat_Adultos_1000x1000.png" alt="Agility Adultos" class="gallery img-2">
            <img src="imagenes/150018-removebg-preview.png" alt="Purina Excellent Adultos" class="gallery img-3">
            <img src="imagenes/cats_proplan.png" alt="Purina Proplan Adultos 1 a 7 años" class="gallery img-4">
            <img src="imagenes/7613287119605_1.png" alt="Especial Purina Proplan Adultos" class="gallery img-5">
            <img src="imagenes/unik-removebg-preview.png" alt="Especial Unik Cachorro y Adulto" class="gallery img-6">
            <div class="cat_img-focus_container">
                <img src="" alt="" class="cat_img-focus_img">
                <img src="imagenes/bx-x.svg" alt="Cerrar" class="cat_img-focus_bx-x">
                <p class="cat_img-focus_leyenda"></p>
            </div>
        </section>
        <p class ='contactenos'>Para conocer los precios de los alimentos <a href="index.html#contactanos_container">contactenos aqui</a></p>

    </main>

    <footer class="footer">
        <div>
            <img class="footer_logo" src="imagenes/logoasistvet.jpeg" alt="">
        </div>
        <div class="footer__contactanos">
            <a href="index.html#contactanos_container">Contactanos</a>
        </div>
        <!-- <div>
            <a href="Contactanos">Whatsapp</a>
        </div> -->
        <div class="redes">
            <a class="redes__a" href="https://www.facebook.com/asistvetpinamar/">
                <img src="imagenes/bxl-facebook-circle.svg" alt="">
            </a>
            <a class="redes__a href="#">
                <img src="imagenes/bxl-instagram-alt.svg" alt="">
            </a>
            <a class="redes__a href="#">
                <img src="imagenes/bxl-whatsapp.svg" alt="">
            </a>
        </div>
    </footer>
    <script src="index.js"></script>
    <script src="gatos.js"></script>
</body>
</html>