{% extends 'base.html' %}

{% block titulo %}Veterinaria Asist Vet: Crear Carrito de compras{% endblock titulo %}

{% block css %} {% load static %}<link rel="stylesheet" href="{% static '/core/css/carrito_de_compras.css' %}" />{% endblock css %}

{% block content %}
        <main>
            <section class="selector_carrito_de_compras">
                <article>
                    <h2>¡¡¡Bienvenido <span>nombre_de_usuario</span> !!!</h2>
                    <!--img
                        src="assets/svg/convercion/icons8-shopping-cart-64 violet.png"
                        alt="carrito_de_compras"
                    /-->
                </article>
                <article>
                    <section>
                        <div>
                            <h2>Seleccione su/s producto/s</h2>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/bx-cart.svg' %}"
                                alt="carrito_de_compras"
                            />
                        </div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/logoasistvet-png.png' %}"
                                alt="logo Asist Vet"
                            />
                        </div>
                    </section>
                    <form action="" target="_blank" method="get">
                        <!--Tipo de Producto-->
                        <section>
                            <div>Tipo de producto</div>
                            <div>
                                <select
                                    id="tipo_de_productos"
                                    name="tipo_de_productos"
                                >
                                    <option>
                                        <div>Alimento para perros</div>
                                    </option>
                                    <option>
                                        <div>Alimento para Gatos</div>
                                    </option>
                                    <option>
                                        <div>Accesorios</div>
                                    </option>
                                    <option>
                                        <div>Juguetes</div>
                                    </option>
                                </select>
                            </div>
                        </section>
                        <!--Marca-->
                        <section>
                            <div>Marca</div>
                            <div>
                                <select id="marca" name="marca">
                                    <option>
                                        <div>Royal canning</div>
                                    </option>
                                    <option>
                                        <div>Old Prince</div>
                                    </option>
                                    <option>
                                        <div>Mainteinance Criadores</div>
                                    </option>
                                    <option>
                                        <div>Purina</div>
                                    </option>
                                </select>
                            </div>
                        </section>
                        <!--Unidad de compra-->
                        <section>
                            <div>Unidad de Compra</div>
                            <div>
                                <select
                                    id="unidad_de_compra"
                                    name="unidad_de_compra"
                                >
                                    <option>
                                        <div>1 kg</div>
                                    </option>
                                    <option>
                                        <div>3 kg</div>
                                    </option>
                                    <option>
                                        <div>7 kg</div>
                                    </option>
                                    <option>
                                        <div>15 kg</div>
                                    </option>
                                </select>
                            </div>
                        </section>
                        <!--Peso del Animal-->
                        <section>
                            <div>Peso del animal</div>
                            <div>
                                <select id="peso_animal" name="peso_animal">
                                    <option>
                                        <div>Menor a 10 kg</div>
                                    </option>
                                    <option>
                                        <div>Entre 10 y 20 kg</div>
                                    </option>
                                    <option>
                                        <div>Mayor a 30 kg</div>
                                    </option>
                                </select>
                            </div>
                        </section>
                        <!--Edad-->
                        <section>
                            <div>Edad</div>
                            <div>
                                <select id="edad_animal" name="edad_animal">
                                    <option>
                                        <div>Cachorro</div>
                                    </option>
                                    <option>
                                        <div>Adulto</div>
                                    </option>
                                </select>
                            </div>
                        </section>
                        <!--En Oferta-->
                        <section>
                            <div>En oferta</div>
                            <div>
                                <select
                                    id="unidad_de_compra"
                                    name="unidad_de_compra"
                                >
                                    <option>
                                        <div>Sí</div>
                                    </option>
                                    <option>
                                        <div>No</div>
                                    </option>
                                </select>
                            </div>
                        </section>
                        <!--Ordenar x precio-->
                        <section>
                            <div>Ordenar por Precio</div>
                            <div>
                                <select id="orden_precio" name="orden_precio">
                                    <option>
                                        <div>De Mayor a Menor</div>
                                    </option>
                                    <option>
                                        <div>De Menor a Mayor</div>
                                    </option>
                                </select>
                            </div>
                        </section>
                    </form>
                    <!--Listado de productos-->
                    <section class="listado_de_productos">
                        <article>
                            <div>
                                <img
                                    src="{% static '/core/assets/images/productos/productos_perros/alimentos_perros/old-prince-cordero-removebg-preview.png' %}"
                                    alt="old prince"
                                />
                            </div>
                            <div>
                                <div>
                                    <span>Marca: </span>
                                    <span>Old Prince</span>
                                </div>
                                <div>
                                    <span>Cantidad: </span>
                                    <span>1 kg</span>
                                </div>
                                <div>
                                    <span>Peso: </span>
                                    <span>Menor a 10 kg</span>
                                </div>
                                <div>
                                    <span>Edad: </span>
                                    <span>Adulto</span>
                                </div>
                                <div>
                                    <span>En oferta: </span>
                                    <span>20%</span>
                                </div>
                                <div>
                                    <span>Precio: </span>
                                    <span>$3.000,00</span>
                                </div>
                                <div class="agregar_quitar_carrito">
                                    <span
                                        ><button class="btn-restar">
                                            -
                                        </button></span
                                    >
                                    <span class="contador">2</span>
                                    <span
                                        ><button class="btn-sumar">
                                            +
                                        </button></span
                                    >
                                </div>
                            </div>
                        </article>
                        <article>
                            <div>
                                <img
                                    src="{% static '/core/assets/images/productos/productos_perros/alimentos_perros/7790187340602_01-removebg-preview.png' %}"
                                    alt="old prince"
                                />
                            </div>
                            <div>
                                <div>
                                    <span>Marca: </span>
                                    <span>Royal Canning</span>
                                </div>
                                <div>
                                    <span>Cantidad: </span>
                                    <span>1 kg</span>
                                </div>
                                <div>
                                    <span>Peso: </span>
                                    <span>Menor a 10 kg</span>
                                </div>
                                <div>
                                    <span>Edad: </span>
                                    <span>Adulto</span>
                                </div>
                                <div>
                                    <span>En oferta: </span>
                                    <span>30%</span>
                                </div>
                                <div>
                                    <span>Precio: </span>
                                    <span>$6.000,00</span>
                                </div>
                                <div class="agregar_quitar_carrito">
                                    <span
                                        ><button class="btn-restar">
                                            -
                                        </button></span
                                    >
                                    <span class="contador">0</span>
                                    <span
                                        ><button class="btn-sumar">
                                            +
                                        </button></span
                                    >
                                </div>
                            </div>
                        </article>
                    </section>
                    <section>
                        <button>
                            <h2>Agregar producto/s al</h2>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/bx-cart.svg' %}"
                                alt="carrito_de_compras"
                            />
                        </button>
                    </section>
                </article>
            </section>
            <section class="carrito_de_compras">
                <article>
                    <h2>Su compra</h2>
                    <img
                        src="{% static '/core/assets/images/carrito_de_compras/bx-cart-violet.svg' %}"
                        alt="carrito_de_compras"
                    />
                </article>
                <article>
                    <section>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-name-50.png' %}"
                                alt="usuario"
                            />
                        </div>
                        <div>
                            <span>¡Bienvenido</span>
                            <span>Nombre_de_Usuario!</span>
                        </div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/logoasistvet-png.png' %}"
                                alt="logo assit vet"
                            />
                        </div>
                    </section>
                    <section>
                        <article>
                            <div>
                                <span>Tipo de producto:</span>
                                <span>Alimento para perros</span>
                            </div>
                            <div>
                                <span>Marca:</span>
                                <span>Royal Canning</span>
                            </div>
                            <div>
                                <span>Peso del Animal:</span>
                                <span>Menor a 10 kg</span>
                            </div>
                            <div>
                                <span>Edad del Animal:</span>
                                <span>Adulto</span>
                            </div>
                            <div>
                                <span>En oferta:</span>
                                <span>20%</span>
                            </div>
                            <div>
                                <span>Precio Unitario:</span>
                                <span>$3.000,00</span>
                            </div>
                            <div>
                                <span>Cantidad:</span>
                                <span>
                                    <button class="btn-restar">-</button>
                                </span>
                                <span class="contador"> 2 </span>
                                <span> Unidad/es </span>
                                <span>
                                    <button class="btn-sumar">+</button>
                                </span>
                            </div>
                            <div>
                                <span>Precio Total:</span>
                                <span>$6.000,00</span>
                            </div>
                        </article>
                        <article>
                            <div>
                                <span>Tipo de producto:</span>
                                <span>Alimento para Gatos</span>
                            </div>
                            <div>
                                <span>Marca:</span>
                                <span>Whiskas</span>
                            </div>
                            <div>
                                <span>Peso del Animal:</span>
                                <span>Menor a 10 kg</span>
                            </div>
                            <div>
                                <span>Edad del Animal:</span>
                                <span>Adulto</span>
                            </div>
                            <div>
                                <span>En oferta:</span>
                                <span>No</span>
                            </div>
                            <div>
                                <span>Precio Unitario:</span>
                                <span>$3.500,00</span>
                            </div>
                            <div>
                                <span>Cantidad:</span>
                                <span>
                                    <button class="btn-restar">-</button>
                                </span>
                                <span class="contador"> 1 </span>
                                <span> Unidad/es </span>
                                <span>
                                    <button class="btn-sumar">+</button>
                                </span>
                            </div>
                            <div>
                                <span>Precio Total:</span>
                                <span>$3.500,00</span>
                            </div>
                        </article>
                    </section>
                    <section>
                        <span>Precio Total de la compra</span>
                        <span> $9.200,00 </span>
                    </section>
                    <section>
                        <a href="confirmacion_de_compra.html">
                            <span>Comprar</span>
                            <span>
                                <img
                                    src="{% static '/core/assets/images/carrito_de_compras/icons8-get-cash-50.png' %}"
                                    alt="comprar"
                            /></span>
                        </a>
                    </section>
                </article>
                <article>
                    <section>
                        <div>Guardar Compra</div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-save-50.png' %}"
                                alt="guardar compra"
                            />
                        </div>
                    </section>
                    <section>
                        <div>Coordinar Envío</div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-local-delivery-time-64.png' %}"
                                alt="guardar compra"
                            />
                        </div>
                    </section>
                    <section>
                        <div>Seguir Comprando</div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-market-50.png' %}"
                                alt="guardar compra"
                            />
                        </div>
                    </section>
                    <section>
                        <div>Volver al Inicio</div>
                        <div>
                            <img
                                src="{% static '/core/assets/images/carrito_de_compras/icons8-home.svg' %}"
                                alt="guardar compra"
                            />
                        </div>
                    </section>
                </article>
            </section>
            <a href="{% url 'confirmar_compra' %}">Confirmar compra</a>
        </main>
{% endblock content %}

{% block javascript %}
        <script src="{% static '/core/javascript/hamburguer_menu.js' %}"></script>
        <script src="{% static '/core/javascript/sumar_restar.js' %}"></script>
{% endblock javascript %}

