@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-moz-keyframes gatos_automatizacion {
    0% {
        margin-left: 0;
    }

    17% {
        margin-left: 0;
    }

    22% {
        margin-left: -100%;
    }

    39% {
        margin-left: -100%;
    }

    44% {
        margin-left: -200%;
    }

    61% {
        margin-left: -200%;
    }

    66% {
        margin-left: -300%;
    }

    83% {
        margin-left: -300%;
    }

    88% {
        margin-left: -400%;
    }

    98% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes gatos_automatizacion {
    0% {
        margin-left: 0;
    }

    17% {
        margin-left: 0;
    }

    22% {
        margin-left: -100%;
    }

    39% {
        margin-left: -100%;
    }

    44% {
        margin-left: -200%;
    }

    61% {
        margin-left: -200%;
    }

    66% {
        margin-left: -300%;
    }

    83% {
        margin-left: -300%;
    }

    88% {
        margin-left: -400%;
    }

    98% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes gatos_automatizacion {
    0% {
        margin-left: 0;
    }

    17% {
        margin-left: 0;
    }

    22% {
        margin-left: -100%;
    }

    39% {
        margin-left: -100%;
    }

    44% {
        margin-left: -200%;
    }

    61% {
        margin-left: -200%;
    }

    66% {
        margin-left: -300%;
    }

    83% {
        margin-left: -300%;
    }

    88% {
        margin-left: -400%;
    }

    98% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}
