.flex-column-centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.flex-row-centrado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}