@use "../a_themes/typography" as font;

.donde_estamos {
    padding: 5rem 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    h2 {
        font-family: font.$roboto, font.$sanf-serif;
        font-style: italic;
        font-weight: 300;
        color: #777;
        text-align: center;
        font-size: 2rem;
        width: 100%;
    }
    article {
        margin-top: 5rem;
        div {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                margin: 0rem 0rem 2rem;
                width: 40vw;
                height: auto;
                border-radius: 5%;
            }
            p {
                font-family: "Roboto", sans-serif;
                font-size: 0.8rem;
                padding: 0.5rem 0rem;
                color: #777;
                font-weight: 300;
                text-align: center;
            }
            iframe {
                padding: 2rem 0rem;
                height: auto;
                width: 40vw;
                border: 0;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .donde_estamos {
        h2 {
            font-size: 6rem;
        }
        article {
            div {
                p {
                    font-size: 2rem;
                }
                iframe {
                    height: 40vw;
                    width: 40vw;
                }
            }
        }
    }
}
