/* ********** Botón Menu de hamburguesa ********** */
.menu-btn {
    //outline: thin solid blue;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.menu-btn img {
    fill: transparent;
    height: 1rem;
    width: auto;
}

.none {
    display: none;
}

/* ********** Barra de navegación-Menú hamburguesa  ********** */

.menu {
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        li {
            a {
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: #fff;
                //margin-left: 10rem;
                //width: 100vw;
                &:hover {
                    background-color: #3ab9c8;
                }
                div {
                    padding: 0.5rem;
                    &:first-child {
                        width: 1rem;
                        height: auto;
                        justify-self: flex-end;
                    }
                    &:nth-child(2) {
                        width: 0.8rem;
                        height: auto;
                        justify-self: flex-start;
                    }
                }
            }
        }
    }
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 992px) {
    .menu-btn {
        display: none;
    }

    .navbar {
        width: auto;
    }

    .menu {
        //@at-root: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: fit-content;
            &:hover {
                background-color: transparent;
            }

            li {
                //position: static;
                color: transparent;
                //padding: 0rem 1rem;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    div {
                        &:first-child {
                            width: auto;
                        }
                        &:nth-child(2) {
                            width: auto;
                        }
                    }
                }
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}
